// Font Face Rules 
// See also _variables.scss and _mixins.scss for Font Settings

/*
@font-face {
    font-family: 'Titillium Web';
    src: url('./font/titillium-black.woff2') format('woff2'),
         url('./font/titillium-black.woff') format('woff'),
         url('./font/titillium-black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
*/

@font-face {
    font-family: 'Titillium Web';
    src: url('./font/titillium-bold.woff2') format('woff2'),
         url('./font/titillium-bold.woff') format('woff'),
         url('./font/titillium-bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: fallback;
}


@font-face {
    font-family: 'Titillium Web';
    src: url('./font/titillium-semibold.woff2') format('woff2'),
         url('./font/titillium-semibold.woff') format('woff'),
         url('./font/titillium-semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: fallback;
}


@font-face {
    font-family: 'Titillium Web';
    src: url('./font/titillium-regular.woff2') format('woff2'),
         url('./font/titillium-regular.woff') format('woff'),
         url('./font/titillium-regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: fallback;
}

/*
@font-face {
    font-family: 'Titillium Web';
    src: url('./font/titillium-light.woff2') format('woff2'),
         url('./font/titillium-light.woff') format('woff'),
         url('./font/titillium-light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: fallback;
}
*/


@font-face {
    font-family: 'Noto Sans JP';
    src: url('./font/notosans-black.woff2') format('woff2'),
         url('./font/notosans-black.woff') format('woff'),
         url('./font/notosans-black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'Noto Sans JP';
    src: url('./font/notosans-bold.woff2') format('woff2'),
         url('./font/notosans-bold.woff') format('woff'),
         url('./font/notosans-bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: fallback;
}

/*
@font-face {
    font-family: 'Noto Sans JP';
    src: url('./font/notosans-semibold.woff2') format('woff2'),
         url('./font/notosans-semibold.woff') format('woff'),
         url('./font/notosans-semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: fallback;
}
*/

@font-face {
    font-family: 'Noto Sans JP';
    src: url('./font/notosans-medium.woff2') format('woff2'),
         url('./font/notosans-medium.woff') format('woff'),
         url('./font/notosans-medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: fallback;
}

/*
@font-face {
    font-family: 'Noto Sans JP';
    src: url('./font/notosans-regular.woff2') format('woff2'),
         url('./font/notosans-regular.woff') format('woff'),
         url('./font/notosans-regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'Noto Sans JP';
    src: url('./font/notosans-light.woff2') format('woff2'),
         url('./font/notosans-light.woff') format('woff'),
         url('./font/notosans-light.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: fallback;
}
*/

@font-face {
    font-family: 'Damion';
    src: url('./font/damion-regular.woff2') format('woff2'),
         url('./font/damion-regular.woff') format('woff'),
         url('./font/damion-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}