// Generate responsive margin and responsive padding automatically
// Source : https://sass-lang.com/documentation/at-rules/control/if#else-if
@mixin spacing($property, $layout-map) {
  @each $layout-breakpoint, $layout-space in $layout-map {
    @if $layout-breakpoint == null {
      #{$property} : $layout-space;
    }
    @else {
      @media screen and (min-width: $layout-breakpoint) {
        #{$property} : $layout-space;
      }
    }
  }
}

// Calculate a max-width when there is padding-left and padding-right (for .wrapper element)
@mixin max-width($width, $layout-map) {
  @each $layout-breakpoint, $layout-space in $layout-map {
    @if $layout-breakpoint == null {
      max-width : $width - ($layout-space * 2);
    }
    @else {
      @media screen and (min-width: $layout-breakpoint) {
        max-width : $width - ($layout-space * 2);
      }
    }
  }
}

@mixin grid-gap{
  grid-gap: map-get($grid-gap, mobile);
  @media screen and (min-width: $tablet_width) {
    grid-gap: map-get($grid-gap, desktop);
  }
}

//// Source : https://www.kevinpowell.co/article/using-my-colors/
// Display font-familly and font-weight
// is used : @include font(standard)

@mixin font($name, $weight: base, $f-size: default) {
  font-family: map-get(map-get($fonts, $name), 'base');

  @if $weight != base {
        @include font-weight($name, $weight);
    } @else {}
  @if $f-size != null {
        @include font-size($name, $f-size);
    } @else {}
}
@mixin font-weight($name, $weight) {
  font-weight: map-get(map-get($fonts, $name), $weight);
}
@mixin font-size($name, $f-size) {
  font-size: map-get(map-get($fonts, $name), $f-size);
}


// Create triangle
@mixin diagonal($element, $vertical, $horizontal, $color) {
  position: relative;
  &::#{$element} {
    position: absolute;
    content: "";
      width: 0;
      height: 0;
      left: 0;
    }

  @if $element == 'before' {
    // Safe space
    margin-top: 9vw;
    @media screen and (min-width: $desktop-width) {
      margin-top: 108px;
    }
    // ::before goes at the beginning
    &::#{$element} {
      top: -9vw;
      @media screen and (min-width: $desktop-width) {
        top: -108px;
      }
    }
  }
  @else {
    // Safe space
    margin-bottom: 9vw;
    @media screen and (min-width: $desktop-width) {
      margin-bottom: 108px;
    }
    // ::after goes at the end
    &::#{$element} {
      bottom: -9vw;
      @media screen and (min-width: $desktop-width) {
        bottom: -108px;
      }
    }
  }

  @if $vertical == top {
    &::#{$element} {
      border-bottom: 9vw solid $color;
      @media screen and (min-width: $desktop-width) {
        border-bottom: 108px solid $color;
      }
    }
  }
  @if $vertical == bottom {
    &::#{$element} {
      border-top: 9vw solid $color;
      @media screen and (min-width: $desktop-width) {
        border-top: 108px solid $color;
      }
    }
  }
  @if $horizontal == right {
    &::#{$element} {
      border-right: 100vw solid transparent;
    }
  }
  @if $horizontal == left {
   &::#{$element} {
      border-left: 100vw solid transparent;
    }
  }
}
