//color
$white :        #fff;
$grey-lgt :     #f0f2f2;
$grey-regular : #a4a4a4;
$grey-form :    #bfc1c2;
$black :        #000;
$blue-regular : #144660;
$blue-light :   #1ab8ec;
$blue-medium :  #306d8e;
$purple-regular: #a2004c;

$default-text-color : $blue-regular;
$gray : $default-text-color;

// Breakpoints
$mobile_width: 400px;
$tablet_width: 900px; // menu-mobile breakpoint
$desktop_width: 1200px;
$wrapper_width: 1200px;
//$background_width: 2000px;
// Text-width
$baseline-width: 50ch;
// Universal grid-gap
$grid-gap: (
  mobile: 20px,
  desktop: 40px,
);

//z-index
$index-searchbar  : 3000;
$index-navigation : 2000;
$index-dropdown   : 1000;

// Display font-familly and font-weight automatically
// is used : @include font(standard) / @include font(standard, black)
// Source : https://www.kevinpowell.co/article/using-my-colors/

$font-standard: 'Titillium Web', Arial, Helvetica, sans-serif;
$font-title: 'Noto Sans JP', Arial, Helvetica, sans-serif;
$font-cursive: 'Damion', cursive;

// 'base' is font-name, 'regular, bold, black' are font-weight, and everyhting else is font-size
// 'h1' is h1 font-size for mobile, and 'h1-xl' is font-size on desktop
$fonts: (
  standard: (
    base: $font-standard,
    regular: 400,
    bold: 600,
    black: 700,
    h1: 40px, // 40px
    h1-xl: 40px, //40px
    h2: 24px, // 24px
    h2-xl: 24px, // 24px
    h3: 18px,
    h3-xl: 24px,
    baseline: 16px, // 16px
    baseline-xl: 22px, // 22px
    body-mobile: 14px,
    body-desktop: 16px,

    //small: 14px,
    //null: 10px,
  ),
  title: (
    base: $font-title,
    regular: 500,
    bold: 700,
    black: 900,
    h1: 30px,
    h1-xl: 60px,
    h2: 24px, //24px
    h2-xl: 40px, //40px
    h3: 20px,
    h3-xl: 30px,
    chapo: 24px, // 24px
    chapo-xl: 48px, // 48px
    number: 100px,
    number-xl: 150px,
    //h3: 20px,
    //p: 16px,
    //small: 14px,
    //null: 10px,
  ),
  cursive: (
    base: $font-cursive,
    regular: normal,
    //h1: 65px,
    //h2: 65px,
    //h3: 20px,
    chapo: 30px, // 30px
    chapo-xl: 60px, // 60px
    h3: 25px, // 30px
    h3-xl: 36px, // 60px
    //p: 16px,
    //small: 14px,
    //null: 10px,
  ),
);

//Responsive spacing
$spacing-regular: (
  null: 30px,
  $mobile_width: 30px,
  $tablet_width: 40px,
  $desktop_width: 60px
);

$spacing-tiny: (
  null: 10px,
  $mobile_width: 10px,
  $tablet_width: 15px,
  $desktop_width: 20px
);

$spacing-double: (
  null: 60px,
  $mobile_width: 60px,
  $tablet_width: 80px,
  $desktop_width: 120px
);
