.bloc-vertical-spacing {
  @include spacing(padding-top, $spacing-regular);
  @include spacing(padding-bottom, $spacing-regular);
}
h1 {
  @include font(title, bold, h1);
  @media screen and (min-width: $tablet_width) {
    @include font-size(title, h1-xl);
  }
}
h2 {
  @include font(title, bold, h2);
  @media screen and (min-width: $tablet_width) {
    @include font-size(title, h2-xl);
  }
}
h3 {
  @include font(title, bold, h3);
  @media screen and (min-width: $tablet_width) {
    @include font-size(title, h3-xl);
  }
}
.baseline {
  max-width: $baseline-width;
  margin: auto;
  @include font(standard, regular, baseline);
  @media screen and (min-width: $tablet_width) {
      @include font-size(standard, baseline-xl);
  }
}
.uppercase {
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
p {
  margin-bottom: 0;
  margin-top: 1em;
}
bold {
  font-size: 1.5rem;
  @include font(standard, bold);
}
.button-bloc {
  text-align: center;
}
section {
  margin: 0;
}
// Haxagon-background
.hexagon-bg,
.hexagon-bg-right-bottom {
  position: relative;
  &::after {
    color: inherit;
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background: center / contain no-repeat url("./image/hexagon.svg");
  }
}
.hexagon-blue {
  &::after {
    background: center / contain no-repeat url("./image/hexagon-blue.svg");
  }
}
.hexagon-bg::after {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hexagon-bg-right-bottom {
  margin-bottom: 40px;
  &::after {
    bottom: 0;
    right: 0;
    height: 80px;
    width: 80px;
    transform: translate(0, 50%);
  }
}
.category {
  color: $blue-light;
  @extend .uppercase;
}