#footer {
  background-color: $blue-regular;
  color: $white;
  //box-sizing: border-box;
  @include spacing(padding-top, $spacing-regular);
  @include spacing(padding-bottom, $spacing-regular);
  font-size: 14px;

  #footer-logo img {
    width: 150px;
    height: auto;
  }
  ul {
    padding: 0;
    margin: 0;
    li {
      padding: 0;
      margin: 0;
      list-style: none;
    }
  }
  #footer-links-container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 50px;
    @media screen and (min-width: $mobile_width) {
      grid-gap: 10px;
      grid-template-columns: 1fr 1fr;
      @media screen and (min-width: $tablet_width) {
        grid-gap: 10px;
        grid-template-columns: 1fr 2fr 1fr;
      }
    }
    #copyright {
      margin: 10px 0;
      text-transform: uppercase;
      letter-spacing: 0.05em;
    }
    #footer-legal,
    #footer-menu, {
      a {
        display: block;
        box-sizing: border-box;
        text-decoration: none;
        font-size: 14px;
        margin-bottom: 0.25em;
        text-decoration: none;
        transition: all .2;
        color: $white;
        &:hover {
          color: $blue-light;
        }
        &:active,
        &:focus {
          color: darken($blue-light, 10);
        }
      }
    }
    #footer-legal > ul > li {
      display: block;
    }
    #footer-menu > ul > li{
      display: inline-block;
      width: 48%;
    }
    #footer-contact {
      h2 {
        margin-top: 0;
        margin-bottom: 20px;
        font-size: 1rem;
        @include font(standard, regular);
        position: relative;
        &:after {
          position: absolute;
          content:"";
          left: 0;
          bottom: -0.5rem;
          width: 2.5rem;
          height: 1px;
          background: $white;
        }
      }
      p {
        margin: 0;
        line-height: 1;
        margin-bottom: 20px;
        font-size: 12px;
        a {
          text-decoration: none;
          display: inline-block;
          font-size: 1.25rem;
          @include font(standard, bold);
          margin-bottom: 0.5rem;
          color: $white;
          &:hover,
          &:focus {
            color: $blue-light;
          }
          &:active {
            color: darken($blue-light, 10);
          }
        }
      }
      .button {
        font-size: 14px;
        display: inline-block;
      }
    }
  }
}
