#masthead {
  width: 100%;
  z-index: $index-navigation;
  color: $white;
  background: $blue-regular;
  position: relative;
  overflow: visible;
  @include spacing(padding-top, $spacing-tiny);
  @include spacing(padding-bottom, $spacing-tiny);
  @include font(standard, regular);
  box-sizing: border-box;
  height: 50px;
  //Tablet screens
  @media screen and (min-width: $tablet_width) {
    height: 90px;
    //Desktop screens
    @media screen and (min-width: $desktop_width) {
      height: 100px;
    }
  }
  //Logo
  #topbar-logo {
    z-index: -1;
    position: fixed;
    @include spacing(top, $spacing-tiny);
    @include spacing(left, $spacing-regular);
    transition: padding-top .2s;
    //tablet screens
    @media screen and (min-width: $tablet_width) {
      padding-top: 10px; // disappears when #masthead gets sticky
        //Wide screens
        @media screen and (min-width: $desktop_width) {
          left: 50%;
          transform: translate(-50%, 0);
          width: 100%;
          @include max-width($wrapper_width, $spacing-double);
        }
      }
      #topbar-logo-content {
        margin-top: 5px;
        height: 20px;
        float: left;
        transition: height .2s;
        @media screen and (min-width: $mobile_width) {
          margin-top: 0;
          height: 30px;
          @media screen and (min-width: $tablet_width) {
            height: 40px;
          }
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
    // Burger Menu, for mobile only
    @media screen and (max-width: $tablet_width) {
      #link-menu {
        display: block;
        width: 40px;
        height: 30px;
        box-sizing: border-box;
        color: $white;
        position: fixed;
        background: $blue-regular;
        font-size: 10px; //test
        padding: 0;
        cursor: pointer;
        @include spacing(top, $spacing-tiny);
        @include spacing(right, $spacing-regular);
        margin: 0;
        transition: all .2s;
        &:hover {
          background: lighten($blue-regular, 10);
        }
        &:focus {
          background: $blue-light;
          color: $white;
        }
        &:active {
          background: $white;
          color: $blue-light;
        }
        #burger-menu-1,
        #burger-menu-2,
        #burger-menu-3 {
          float: left;
          display: block;
          color: inherit;
          width: 30px;
          margin-left: 5px;
          height: 3px;
          border-radius: 1.5px;
          background: currentColor;
          opacity: 1;
          transition: all .2s;
        }
        #burger-menu-1 {
          transform: translate(0, 5px);
        }
        #burger-menu-2 {
          transform: translate(0, 10px);
        }
        #burger-menu-3 {
          transform: translate(0, 15px);
        }
        // When menu is open, #link-menu gets .close-menu
        &.close-menu {
          #burger-menu-1 {
            transform: translate(0, 14px) rotate(45deg);
          }
          #burger-menu-2 {
            opacity: 0;
          }
          #burger-menu-3 {
            transform: translate(0, 8px) rotate(-45deg);
          }
        }
      }
    }
    #menu {
    width: 100%;
    display: block;
    }
  }

  #menu-primary {
    z-index: $index-navigation;
    width: 100%;
    box-sizing: border-box;
    transition: all .2s;

    @media screen and (min-width: $tablet_width) {
      position: fixed;
      text-align: right;
      right: (map-get($spacing-regular, $tablet_width) + 40px);
      //right: [.wrapper padding] - #menu-search width
      left: unset;
      top: 20px;
      margin-top: 35px;  // disappears when #masthead gets .sticky

      @media screen and (min-width: $desktop_width) {
        right: unset;
        left: 50%;
        transform: translate(-50%, 0);
        width:    $wrapper_width - ( map-get($spacing-regular, $desktop_width) * 4 ) - 80px;
        //width:  [.wrapper max-width  - [.wrapper padding * 2]] - #menu-search width * 2
      }
    }
  }
  #menu-secondary {
    transition: all .2s;
    @media screen and (min-width: $tablet_width) {
      float: right;
      margin-left: 10px;
    }
  }
  // Scroll is allowed if menu-mobile is too height
  #menu-mobile-container {
    @media screen and (max-width: $tablet_width) {
      z-index: $index-navigation;
      top: 0;
      left: 0;
      position: fixed;
      display: block;
      overflow-y: scroll;
      scroll-behavior: smooth;
      height: 100vh;
      max-height: 100vh;
      background: $blue-regular;
      //padding-bottom: 50px; // topbar height
      box-sizing: border-box;
      width: 100vw;
      transform: translate(-105vw, 50px);
      &.openMenu {
        transform: translate(0, 50px);
      }
      #menu-primary,
      #menu-secondary {
        position: unset;
        display: block;
        height: auto;
        overflow-y: scroll;
      }
    }
  }

  #topbar-social {
    float: right;
  }

  #menu-translate {
    height: 25px;
    width: 30px;
    text-align: center;
    box-sizing: border-box;
    padding: 5px;
    padding-top: 0;
    border-bottom: 1px solid $white;
    transition: background-color .2s;
    z-index: $index-navigation;
    float: right;
    margin-left: 10px;
    &:hover {
      background: lighten($blue-regular,10);
    }
    &:focus,
    &:active {
      background: $blue-light;
    }
    @media screen and (max-width: $tablet_width) {
      float: none;
      position: fixed;
      margin-right: 40px;
      right: map-get($spacing-regular, $tablet_width);
    }
  }

  // Menu style

#menu-search {
  position :fixed;
  position: fixed;
  margin-right: 80px;
  right: map-get($spacing-regular, $tablet_width);

  transition:  transform .4s, margin-top .2s;
    //on Focus, #form-search appears
    &:focus {
      #form-search {
        transform: translate(-50%, 0%);
      }
    }
  @media screen and (min-width: $tablet_width) {
    //right: map-get($spacing-regular, $tablet_width);
    margin-right: 0;
    text-align: right;
    left: unset;
    top: 20px;
    margin-top: 32px;  // disappears when #masthead gets .sticky
    @media screen and (min-width: $desktop_width) {
      //right: map-get($spacing-regular, $tablet_width);
      right: unset;
      left: 50%;
      transform: translate(-50%, 0);
      width: $wrapper_width - ( map-get($spacing-double, $desktop_width) * 2 );
    }
  }
  #icon-search {
    background-color: $blue-regular;
    transition: background-color .2s;
    padding: 4px;
    &:hover {
      background: lighten($blue-regular, 10);
    }
    &:active,
    &:focus {
      background: $blue-light;
    }
  }

  #form-search{
    position: fixed;
    left: 50%;
    top: 50px;
    width: 100vw;
    transform: translate(-50%, -300px);
    transition:  transform .4s, margin-top .2s;
    &:focus,
    &:focus-within,
    &.openSearchbar {
      transform: translate(-50%, 0%);
    }
    @media screen and (min-width: $tablet_width) {
      top: 60px;
      margin-top: 30px;  // disappears when #masthead gets .sticky
      @media screen and (min-width: $desktop_width) {
        top: 50px;
        margin-top: -5px;  // disappears when #masthead gets .sticky
      }
    }
    #form-wrapper {
      display: grid;
      grid-template-columns: auto 10em;
      grid-gap: 1em;
      #search,
      #send-search{
        margin: 0;
        box-sizing: border-box;
      }
    }
  }
}

// On scroll, #masthead gets class .sticky
#masthead.sticky {
  @media screen and (min-width: $mobile_width) {
    #topbar-logo #topbar-logo-content {
      height: 30px;
    }
  }
  @media screen and (min-width: $tablet_width) {
    #topbar-logo {
      padding-top: 0;
    }
    #menu-search,
    #menu-primary,
    #form-search,
    //@include nav-dropdown-desktop [see menu.scss for more informations]
    #menu-primary > ul.primary > li.menu-item-has-children > ul {
      margin-top: 0;
      transition: margin-top .2s;
    }
  }
}

.white-menu {
  color: $blue-regular;
  background: $white;
  box-shadow: 0 10px 10px rgba(0,0,0,0.2);
  @include spacing(padding, $spacing-tiny);
}

#topbar-background {
  z-index: $index-dropdown;
  background: $blue-regular;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 50px;
  //Tablet screens
  @media screen and (min-width: $tablet_width) {
    height: 60px;
    //Desktop screens
    @media screen and (min-width: $desktop_width) {
      height: 70px;
    }
  }
}

.social-icon {
  a {
    text-decoration: none;
    padding: 3px 3px 0 3px;
    display: inline-block;
    margin-right: 6px;
    transition: background-color .2s;
    img {
      height: 20px;
      width: auto;
      cursor: pointer;
    }
  }
  a:last-of-type{
    margin-right: 0;
  }
  a:link{
    background: $blue-regular;
  }
  a:hover{
    background: lighten($blue-regular, 10);
  }
  a:active,
  a:focus {
    background: $blue-light;
  }
}
