// Menu item stylesheet

// 1 - LINKS STYLE ========================

/// Reset
#masthead ul {
  //display: inline-block;
  padding: 0;
  margin: 0;
  list-style: none;
  li {
    //display: inline-block;
    margin: 0;
    padding: 0;
    a {
      text-decoration: none;
    }
  }
}

// Links style 1 : white on background blue (for desktop)
@mixin links-blue-bg {

    a:link {
      box-sizing: border-box;
      @include font(standard, regular);
      padding: 2px 4px;
      color: $white;
      font-size: 14px;
      text-decoration: none;
      border: 1px solid rgba(0,0,0,0);
      transition: all .2;
    }
    a:visited {
      color: darken($white, 8);
    }
    a:hover {
      color: $white;
      background: lighten($blue-regular, 10);
    }
    a:active {
      background: $blue-light;
    }
    a:focus {
      border-color: $blue-light;
    }

}

// Links style 2 : blue on background white (for desktop)
@mixin links-white-bg {

    //Links level 2
    > li {
      vertical-align: top;
      display: inline-block;
    }
    //Links level 3, 4, 5 ...
    li > ul > li {
      display: block;
    }
    a:link {
      box-sizing: border-box;
      display: inline-block;
      padding: 2px 10px;
      color: $blue-regular;
      font-size: 14px;
      text-decoration: none;
      background-color: $white;
      transition: all .2;
    }
    a:hover {
      color: $blue-light;
      background: darken($white, 6);
    }
    a:active {
      color: $white;
      background: $blue-light;
    }
    a:focus {
      background: $blue-regular;
    }
  }
// 2 - NAVIGATION STYLE ========================

// Nav Style (for desktop)
@mixin nav-blue-bg-desktop {
  @include links-blue-bg; //links style

  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  li {
    vertical-align: top;
    display: inline-block;
  }

}
// Dropdown style (for desktop)
@mixin nav-dropdown-desktop {

    z-index: $index-dropdown;
    display: inline-block;
    text-align: left;
    position: fixed;
    box-sizing: border-box;
    left: 50%;
    top: 60px;
    margin-top: 30px;
    width: 100%;
    padding: map-get($spacing-tiny, $tablet_width) map-get($spacing-regular, $tablet_width);
    @media screen and (min-width: $desktop_width) {
      margin-top: 0;
      top: 50px;
      width: $wrapper_width - ( map-get($spacing-regular, $desktop_width) * 4 );
      padding: map-get($spacing-tiny, $desktop_width) 0;
      //width:  [.wrapper max-width  - [.wrapper padding * 2]]
    }
    transform: translate(-155vw, 0);
    //transform: translate(-50%, 0); //is visible, in the center of the window
    transition: transform .4s;
    transition-delay: .2s;
    &:hover,
    &:focus,
    &:focus-within {
      transform: translate(-50%, 0);
    }
    //full-width background trick
    &:before {
      content: "";
      position: absolute;
      left: 50%;
      top: 0;
      z-index: -1;
      box-shadow: 0 10px 10px rgba(0,0,0,0.2);
      transform: translate(-50%, 0);
      height: 100%;
      width: 100vw;
      background: $white;
    }
  }


// Nav Style (for desktop)
@mixin nav-white-bg-desktop {
  @include links-white-bg; //links style

    text-transform: uppercase;
    letter-spacing: 0.05em;
    //Links level 2
    > li {
      border-left: 1px solid $blue-regular;
      &:first-of-type {
        border-left: none;
      }
    }
    //Links level 3
    > li > ul{
        margin-left: 10px;
        border-left: 1px solid $blue-regular;
      }
    > li > ul > li {
      display: block;
      vertical-align: unset;
      border-left: none;
    }
}


// Nav style - used for "Services" links (for desktop)
@mixin nav-services-desktop {
  @include links-white-bg; //links style

    box-sizing: border-box;
    // Adjustement for .link-has-thumbnail :
    // padding-bottom = [.link-has-thumbnail height] + [.link-has-thumbnail bbottom];
    padding-bottom: 100px +  map-get($spacing-tiny, $tablet_width);
    @media screen and (min-width: $desktop_width) {
      padding-bottom: 100px +  map-get($spacing-tiny, $desktop_width);
    }
    > li {
      width: 32%;
    }
    //Links level 2
    > li > a {
        @include font(standard, black);
        margin-bottom: 10px;
    }
    //Links level 3
    > li > ul > li  {
        margin-bottom: 10px;
        > a  {
            @include font(standard, bold);
        }
    }

    //Links level 4
    > li > ul > li > ul {
      margin-left: 10px;
      text-transform: capitalize;
      > li {
        border-left: 1px solid $blue-regular;
        margin-left: 10px;
      }
    }
    .link-has-thumbnail {
      //background is defined in header.php
      @media screen and (min-width: $tablet_width ) {
        position:absolute;
        left: map-get($spacing-regular, $tablet_width);
        bottom: map-get($spacing-tiny, $tablet_width);
        @media screen and (min-width: $desktop_width) {
          left: 0;
          bottom: map-get($spacing-tiny, $desktop_width);
        }
        width: 30%;
        max-width: 300px;
        height: 100px;
          a:link {
          padding:0.5em  1em ;
          background: rgba($blue-light, 0.9);
          color: $white;
        }
        a:hover {
          background: $blue-regular;
        }
      }
    }
  }

// Nav style - used for "Services" links
@mixin nav-mobile {
    //Level 0 - Container
    text-transform: uppercase;
    letter-spacing: 0.05em;
    @include font(standard, regular);
    ul.primary {
      padding-top: map-get($spacing-regular, $mobile_width)
    }

    ul.primary,
    ul.secondary {
      padding-left: map-get($spacing-regular, $mobile_width);
      padding-right: map-get($spacing-regular, $mobile_width);
    li {
      margin-bottom: 1em;
    }
    > li.menu-item-has-children,
    > li > ul > li.menu-item-has-children {
      margin-bottom: 0;
      position: relative;
      a {
        display: block;
        //background: red;
        margin-bottom: 1em;
        margin-right: 20px; // Safe zone for the arrow-back
      }
      > ul {
        height: 0;
        transition: all .2s;
        overflow: hidden;
      }
      &:hover,
      &:active,
      &:focus,
      &:focus-within {
        > ul {
          height: auto;
        }
      }
    }
    li.menu-item-has-children:active::after,
    li.menu-item-has-children:hover::after,
    li.menu-item-has-children:focus::after,
    li.menu-item-has-children:focus-within::after {
      transform: rotate(90deg);
    }

    > li > ul > li.menu-item-has-children::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 1em;
      height: 0.6em;
      background-image: url("./image/arrow-blue.svg");
      background-repeat: no-repeat;
      background-size: 1em 0.6em;
      background-position: right 0px top 0px;
      transition: transform .2s;
    }
    > li.menu-item-has-children::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 1em;
      height: 0.6em;
      background-image: url("./image/arrow-white.svg");
      background-repeat: no-repeat;
      background-size: 1em 0.6em;
      background-position: right 0px top 0px;
      transition: transform .2s;
    }
  }

    //background: yellow;
    //Links level 1
    > ul > li a {
      color: white;
      &:hover {
        color: darken($white, 8);
      }
      &:active {
        color: $blue-light;
      }
    }
      //background: blue;
    //Links level 2
    > ul > li > ul > li  > a {
        color: $blue-light;
        &:hover {
          color: darken($white, 8);
        }
        &:active {
          color: $white;
        }
      }

    //Links level 3
    > ul > li > ul > li > ul {
      text-transform: capitalize;
      @include font(standard, bold);
    }

}

// 3 - NAVIGATION BEHAVIOUR ========================

    // DESKTOP BEAHAVIOUR
    @media screen and (min-width: $tablet_width) {
      // Menu level 1
      #menu-primary > ul.primary > li {
        @include nav-blue-bg-desktop;
        // Menu Level 2 : dropdowns
        &.menu-item-has-children > ul {
          @include nav-dropdown-desktop;
        }
        // dropdown appears when parent is hovered
        &.menu-item-has-children {
          &:hover, &:active, &:focus {
            > ul {
              transform: translate(-50%, 0);
              transition: transform .4s;}
          }
        }
        // standard style
        &.menu-item-has-children:not(.services-nav-style) > ul {
          @include nav-white-bg-desktop;
        }
        // services nav style
        &.menu-item-has-children.services-nav-style > ul {
          @include nav-services-desktop;
        }
      }

    #menu-secondary {
      @include nav-blue-bg-desktop;
      //Contact link style
      > li:last-of-type > a {
        border: 1px solid $white;
        margin-left: 8px;
      }
    }
  }


    @media screen and (max-width: $tablet_width) {
  // MOBILE BEHAVIOUR {

    #menu-primary,
    #menu-secondary {
      @include nav-mobile;
    }
  }
