
form  {
  .formCont,
  .formCheckBox{
    position: relative;
    margin-top:1em;
  }
  .formCheckBox{
    font-size:.7rem;
  }
  .formButton{
    margin:1em;
    text-align: center;
  }
 .contResponse{
    opacity: 0;
 }
 &.response{
    .contResponse{
       margin:2em 0;
       opacity: 1;
       transition-delay: 1s;
       transition-property: all;
       transition-duration: 1s;
       transition-timing-function: ease;
    }
    *:not(.contResponse){
       opacity: 0;
       transition-property: all;
       transition-duration: .5s;
       transition-timing-function: ease;
    }
  }
}

   input[type="text"],
   input[type="email"],
   input[type="url"],
   input[type="password"],
   input[type="search"],
   input[type="number"],
   input[type="tel"],
   input[type="range"],
   input[type="date"],
   input[type="month"],
   input[type="week"],
   input[type="time"],
   input[type="datetime"],
   input[type="datetime-local"],
   input[type="color"],
   textarea {
      -webkit-backface-visibility: hidden;
      background: $white;
      border: solid 1px $blue-regular;
      box-sizing: border-box;
      outline: none;
      -webkit-appearance: none;
      outline-offset: 0;
      border-radius: 0;
      margin-top:1em;
      width:100%;
      color: $grey-form;
      padding: 5px;
      + label{
         position:absolute;
         top:1em;
         left:1em;
         color:$grey-regular;
         opacity: 0;
      }
      &:focus {
         border-color: $blue-light;
         color: $blue-regular;
         transition: all .4s;
         + label{
            transform: translate(-2em,-1.25em) scale(.8);
            opacity: 1;
            transition: transform .4s;
         }
         &::placeholder{
            opacity:0;
         }
      }
      &::placeholder{
         opacity:1;
      }
   }
#content input[type="button"],
#content button,
.button {
  text-transform: uppercase;
  letter-spacing: 0.05em;
  -webkit-backface-visibility: hidden;
  background: $blue-light;
  display: inline-block;
  padding: 0.5em 2em;
  border: solid 1px rgba(0,0,0,0);
  box-sizing: border-box;
  outline: none;
  -webkit-appearance: none;
  outline-offset: 0;
  border-radius: 0;
  margin-top:1em;
  color: $white;
  text-decoration: none;
  cursor: pointer;
  transition: all .2s;
  &:hover {
    background: lighten($blue-regular,10);
  }
  &:active,
  &:focus {
    color: $blue-light;
    background: $white;
    border-color: $blue-light;
  }
  &.button-purple {
    color: $white;
    background: $purple-regular;
    &:hover {
      color: $white;
      background: lighten($purple-regular,10);
    }
    &:active,
    &:focus {
      background: $white;
      color: $purple-regular;
      border-color: $purple-regular;
    }
  }
  &.button-brd-blue {
    color: $blue-light;
    background: $white;
    border-color: $blue-light;
    &:hover {
      color: $white;
      background: $blue-light;
    }
    &:active,
    &:focus {
      color: $white;
      background: $blue-regular;
      border-color: $blue-regular;
    }
  }
  &.button-brd-white {
    color: $white;
    background: transparent;
    border-color: $white;
    &:hover {
      color: $blue-light;
      background: $white;
    }
    &:active,
    &:focus {
      color: $blue-light;
      background: $blue-regular;
      border-color: $blue-regular;
    }
  }
}

button.reset {
    padding: initial;
    border: solid 1px rgba(0,0,0,0);
    box-sizing: border-box;
    outline: none;
    -webkit-appearance: none;
    outline-offset: 0;
    border-radius: 0;
    color: initial;
    cursor: pointer;
    transition: all .2s;
}
